.highlights__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.highlights {
  grid-column: 1 / -1;
}

.high {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
