.form__description {
  max-width: 22rem;
  margin-bottom: 1rem;
}

.form__email {
  font-size: 1.25rem;
  margin-bottom: 0.625rem;
  font-weight: 500;
}

.form__login {
  display: flex;
  flex-direction: column;
}

.form__password {
  font-size: 1.25rem;
  justify-self: end;
  font-weight: 500;
}

.form__lostPassword {
  margin: 1rem 0;
  align-self: end;
  color: var(--link);
  font-weight: 600;
  justify-self: end;
}
.password__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form__button {
  display: flex;
  justify-content: space-between;
  margin-top: 1.25rem;
  gap: 0.94rem;
}

.form__button button {
  flex: 1;
  height: 2.5rem;
  margin-bottom: 1.56rem;
}

.form__other {
  display: flex;
  color: var(--subtitle);
  align-items: center;
  gap: 0.625rem;
  margin-bottom: 1.25rem;
}

.form__other::after,
.form__other::before {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--separator);
}

.form__signup {
  align-self: center;
}

.form__account {
  color: var(--link);
  font-weight: 700;
}
