.input {
  color: var(--input-color);
  padding: 0.8rem 1rem;
  border-radius: 3px;
  border: none;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.25);
  font-size: 1.1rem;
}

.input:focus {
  outline: 2px solid var(--details);
}
