.login__container {
  display: grid;
  grid-template-columns: 1.5fr 10px 1fr;
  max-width: 1200px;
  gap: 4rem;
}

.login__separator::before {
  content: '';
  display: block;
  height: 106%;
  width: 2px;
  background-color: var(--separator);
}
