.card__container {
  position: relative;
}

.card__img {
  border-radius: 10px;
  margin-bottom: 0.5rem;
}

.card__title {
  margin-bottom: 7px;
}

.card__description {
  margin-bottom: 0.5rem;
}

.card__description__author {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__author {
  font-weight: 400;
  font-size: 1rem;
}

.authorDetail {
  font-weight: 700;
}
